{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f3b99b4317.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <style>
    *{
      font-family: 'Roboto Mono', monospace;
    }
  </style>
        <!--offcanvas-->
        <div style="background-image: linear-gradient(white,skyblue);font-family: 'Roboto Mono', monospace;" class="offcanvas offcanvas-end" id="carousel">
            <!--header-->
            <div class="offcanvas-header ">
              <img class="offcanvas-title " style="width: 80px;" src="{% static 'coc-logo.png' %}" alt="">
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <!--body-->
            <div class="offcanvas-body p-4  ">
              <a class="text-decoration-none " href="{% url 'index' %}">
                <p>Home</p>
              </a>
              <a class="text-decoration-none  " href="{% url 'about' %}">
                <p>About</p>
              </a>
              <a class="text-decoration-none" href="{% url 'feedback' %}">
                <p>Contact Us</p>
              </a>
              <a class="text-decoration-none" href="{% url 'preacher' %}">
                <p>Our Preacher</p>
              </a>
              <a class="text-decoration-none" href="{% url 'teaching_sermon' %}">
                <p>Teaching's and <br> Sermon's</p>
              </a>
              <a class="text-decoration-none" href="{% url 'user_login' %}">
                <p>Bulletin</p>
              </a>
              <a class="text-decoration-none" href="{% url 'first'  %}">
                <p>First Timer</p>
              </a>
            </div>
        
          </div>
          <!--navbar-->
          <nav class="navbar navbar-expand-md navbar-dark bg-white ">
            <div class="container-fluid mt-1 ">
              <a href="{% url 'index' %}"><img class="img-fluid" style="width: 50px;margin-left: 20px;" src="{% static 'coc-logo.png' %}" alt=""></a>
        
              <div style="background-image: url();" class=" m-0 text-white">
                <button class="btn btn-secondary mt-3 m-3 " type="button" data-bs-toggle="offcanvas" data-bs-target="#carousel">
                  <i class="fa-solid fa-bars fa-fade"></i>
                </button>
              </div>
            </div>
          </nav>

          <section style="overflow: hidden;background-color: skyblue;" class="p-5">
            <center>
                <h1>The Joy Of The Lord
                </h1>
                <p>John 15:11,</p>
             
              <p style="font-size: xx-large;">INTRODUCTION</p><hr>
             
               <p style="font-size: xx-large;">Towards the close of His earthly ministry, Jesus did not assure His disciples of a life free from challenges in the cause of Christianity. And neither did He promise them earthly joy or happiness, but that is not to say that we don't need happiness in life as God's people, or work to acquire material things in life which give happiness.
                <br>
                The joy Jesus Christ experienced in obedience to His Father; love for His Father; and faithfulness to His Father, was expected of His disciples then, as it is also demanded of christians today and always. This joy is perfect and perpetual, not earthly joy related to the acquisition or expectation of something good, though we need it.
                 <br>
                We shall be sustained at all times, good or bad, if the joy of Jesus Christ remains in us because He is the source of true joy, even in bad times, when His words abide in us. When evil days or misfortunes strike, it is the joy of the Lord we all need. When happiness is replaced by sadness, develops wings, and when everything seems to work against us, we need the joy of the Lord.
                <br>
                On another occasion in John 16:33, Jesus further assured His disciples of peace in Him in a chaotic society, "These things I have spoken unto you, that in me ye might peace. In the world ye shall have tribulation: but be of good cheer, I have overcome the world"
                Peace in Christ is the only true peace. He is the source of true peace. Through Him, we have peace in our minds. But His words must abide in us.
                How cheerful were the disciples when they came under the heat of persecutions? 
                How joyous were they when lives were being brutally wasted for the cause of Christ? 
                To further strengthen their faith, in Revelation 2:10, Jesus encouraged the Church in Smyrna to be faithful unto death. <br>
                "Fear none of those things which thou shalt suffer; behold, the devil shall cast some of you into prison, that ye may be tried; and ye shall have tribulations ten days: be thou faithful unto death, and I will give thee a crown of life"
                While in prison, Paul wrote to inspire the Philippian brethren, who had a bitter taste of 
                Phil. 4:4.
                <br>
               The joy of the Lord helped the disciples to see beyond their present sufferings, even so we should rejoice in the Lord in all circumstances.

                 </p>
                 <br>
             <p style="font-size: xx-large;">THE VALUE OF THE JOY OF THE LORD:</p><hr>
             (A) Christians would not be forsaken or abandoned - Isaiah 60:15,1Sam. 12:22, Heb.13:5. 
             <br>
             -Christ did not forsake His disciples - Matt. 28:20b.
             <br>
             -He did not abandon Peter in prison - Acts 12:5-17.
             <br>
             -He did not leave Paul and Silas in prison - Acts 16:25-29.
             <br>
             -Even so, christians who are in prison of economic hardship, sicknesses, afflictions, childlessness, joblessness, etc, would not be abandoned.
             <br>
             -Christians are assured of divine provisions - Psalms 37:25-26.
             <br>
             -Christ's followers have hope of answered prayers - Mark 11:23-24, Luke 18:7.
             <br>
             <br>
             (B) The grace to cope with difficult times:
             <br>
             -Paul fervently prayed for deliverance from the messenger of Satan, but God supplied the grace to survive - 2Cor. 12:7-9.
             <br>
             -What service or products do you have to enjoy God's grace to cope with hardship? - 2Kings 4:1-7
             <br>
             -Even so, we need God's grace to maintain good works to survive in times like these - Titus 3:8, v14.
             <br>
             <br>
             (C) Steadfastness/faithfulness - Luke 18:8b, Rev. 2:10.
             <br>
             -The joy of the Lord fuels faithfulness in difficulties - Acts 14:21-22.
             <br>
             -Even so, christians should remain faithful at all times.
             <br>
             <br>
             (D) Christians are overcomers and victorious even in challenging times - Rom. 8:28, 37, 1Cor. 15:57.
             <br>
             <br>
             (E) Even in death, faithful christians have hope of resurrection into eternal life:
             <br>
               -Jesus assured christians of eternal life - 1Cor. 15:19.
               <br>
               -While still in the flesh, Paul saw his heavenly kingdom - 2Tim 4:6-7, v18.
               <br>
               -Even so, we will live again when this life is over, but live before you leave - Psalms 118:17.
               <br>
               <br>
             <p style="font-size: xx-large;">WHAT THE JOY OF THE LORD DOES NOT MEAN:
             </p><hr>
             <br>
              (A) Absence of martyrdom:
              <br>
              -Stephen became the first christian martyr - Acts 7:54-60.
              <br>
              -James was the first apostle to die by the sword - Acts 12:1.
              <br>
              -Paul saw his impending death - 2Tim. 4:6.
              <br>
              -Other apostles and christians were gruesomely murdered, according to tradition.
              <br>
              -Even so, we will not escape death as Christ tarries -Gen. 3:19, Heb. 9:27.
              <br>
              <br>
              (B) No sickness:
              <br>
              -Epaphroditus, Paul's co-worker, was hopelessly sick - Phil. 2:25-30.
              <br>
              -Before Christ came in the flesh, faithful and God-fearing people were sick. Hezekiah suffered a terminal sickness - Isaiah 38:1-5. 
              <br>
              -Even so, as christians, we are not immune to sickness.
              <br>
              <br>
              (C) No hard times:
              <br>
              -Early christians in Judea were hit by famine - Acts 11:28-30.
              <br>
              -Christians in the churches of Macedonia suffered greatly, and were in deep poverty - 2Cor. 8:1-5.
              <br>
              -Early christians were enjoined to bear tribulations - Acts 14:21-22.
              <br>
              -Even so, we will encounter difficult times, as presently being experienced in Nigeria.
              <br>
              <br>
              (D) No Unfriendly government:
              <br>
              -Paul charged christians to be subject to authorities though the Roman authorities at that time brutally persecuted christians - Rom. 13:1-7, 1Tim. 2:1-3.
              <br>
              -Peter urged christians to pray for authorities though the authorities were very unfriendly to the cause of Christianity at the time - 1Pet. 2:13-18.
              <br>
              -Even so, we are to pray for our leaders in the face of harsh economic conditions.
              <br>
              <br>
              (E)No unfriendly friends:
              <br>
              -Jesus commanded us to forgive, pray for and bless our enemies - Matt. 5:44-45.
              <br>
              -Paul encouraged christians not to pay evil for evil - Rom. 12:17, 21.
              <br>
              -Even so, we are enjoined to wish everyone well, whether friends or foes, if we must be children of God.
              <br>
              <br>
              <br>
             <hr><p style="font-size: xx-large;">CONCLUSION</p><hr>
             <br>
             <p style="font-size: xx-large;">The joy of the Lord offers strength in weakness; hope in hopelessness; assurance of provisions in lack; and steadfastness/faithfulness in trying times.
              Ultimately, the joy of the Lord is all we need whether times are good or bad.
              The joy of the Lord does not mean we would not have challenges in life, including death, sickness, unfriendly government, unfriendly friends, or difficult times.
              
              
            
             <p style="font-size: xx-large;">Thank you for your audience and God bless.
                <hr>
                <p style="font-size: xx-large;" > DELIVERED BY BRO.  Edet Dickson ON 17TH, SEPTEMBER, 2023.</p><hr><hr>
            </center>

       <!-- Footer Section -->
       <footer class="footer p-5">
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h4>Contact Us</h4>
                <p><i class="fas fa-map-marker-alt"></i> 9,IGBEHINADUN STREET, OFF ODOZI,OJODU</p>
                <p><i class="fas fa-phone"></i> Phone: +1 (123) 456-7890</p>
                <p><i class="fas fa-envelope"></i> Email: churchofchristojodu <br> @gmail.com</p>
            </div>
            <div class="col-md-4">
              <h4>Quick Links</h4>
              <ul class="list-unstyled text-decoration-none">
                  <li><a style="color: black;" class="text-decoration-none" href="{% url 'index' %}">Home</a></li>
                  <br>
                  <li><a style="color: black;" class="text-decoration-none" href="{% url 'about' %}">About Us</a></li>
                  <br>
                  <li><a style="color: black;" class="text-decoration-none" href="{% url 'feedback' %}">Contact</a></li>
              </ul>
          </div>
                <div class="col-md-4">
                    <h4>Connect With Us</h4>
                    <p>Stay updated with our latest news and updates:</p>
                    <div class="social-icons">
                      <a href="https://www.facebook.com/profile.php?id=61553202030922"><i style="font-size: xx-large;" class="fab fa-facebook"></i></a>
                      <a href="https://instagram.com/ojoduchurchofchrist?igshid=OGY3MTU3OGY1Mw=="><i style="font-size: xx-large;color: red;" class="fab fa-instagram"></i></a>
                      <a href="https://www.youtube.com/@Church-of-christ-ojodu"><i style="font-size: xx-large;color: red;" class="fa-brands fa-youtube"></i></a>
                  </div>
                </div>
            </div>
        </div>
      </footer>
      <!-- End Footer Section -->
          </section>