{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f3b99b4317.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <style>
    *{
      font-family: 'Roboto Mono', monospace;
    }
  </style>
        <!--offcanvas-->
        <div style="background-image: linear-gradient(white,skyblue);font-family: 'Roboto Mono', monospace;" class="offcanvas offcanvas-end" id="carousel">
            <!--header-->
            <div class="offcanvas-header ">
              <img class="offcanvas-title " style="width: 80px;" src="{% static 'coc-logo.png' %}" alt="">
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <!--body-->
            <div class="offcanvas-body p-4  ">
              <a class="text-decoration-none " href="{% url 'index' %}">
                <p>Home</p>
              </a>
              <a class="text-decoration-none  " href="{% url 'about' %}">
                <p>About</p>
              </a>
              <a class="text-decoration-none" href="{% url 'feedback' %}">
                <p>Contact Us</p>
              </a>
              <a class="text-decoration-none" href="{% url 'preacher' %}">
                <p>Our Preacher</p>
              </a>
              <a class="text-decoration-none" href="{% url 'teaching_sermon' %}">
                <p>Teaching's and <br> Sermon's</p>
              </a>
              <a class="text-decoration-none" href="{% url 'user_login' %}">
                <p>Bulletin</p>
              </a>
              <a class="text-decoration-none" href="{% url 'first'  %}">
                <p>First Timer</p>
              </a>
            </div>
        
          </div>
          <!--navbar-->
          <nav class="d-sm-flex p-3 navbar-dark bg-dark ">
            <div class="container">
              <center>
                <span style="font-size: 12px;color: white;" class="" href="#">Opening Hours - 09 : 00AM Every Sunday <span>|</span></span>
               <!-- Search input with search icon -->
             
                
            <div>
              <a  class="" href="https://www.facebook.com/profile.php?id=61553202030922"><button style="font-size: 12px;" class="btn btn-outline-primary"><i class="fa-brands fa-facebook"></i></button></a>
    
              <a  class="" href="https://instagram.com/ojoduchurchofchrist?igshid=OGY3MTU3OGY1Mw=="><button style="font-size: 12px;" class="btn btn-outline-danger"><i class="fa-brands fa-instagram"></i></button></a>
    
              <a  class="" href="https://www.youtube.com/@Church-of-christ-ojodu"><button style="font-size: 12px;" class="btn btn-outline-danger"><i class="fa-brands fa-youtube"></i></button></a>
         
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                
            </button>
             </div>
                </center>
              
            </div>
            <div class="container-fluid d-none d-sm-block">
              <center>
                  <a style="color: white;" class="text-decoration-none" href=""><button style="font-size: 12px;" class="btn btn-outline-secondary"><i class="fa-regular fa-envelope"></i></button> <span style="font-size: 12px;">churchofchristojodu@gmail.com</span></a>
              </center>
          </div>
          
          <div class="container-fluid d-none d-sm-block">
              <center>
                  <a style="color: white;" class="text-decoration-none" href=""><button style="font-size: 12px;" class="btn btn-outline-primary"><i class="fa-solid fa-phone"></i></button> <span style="font-size: 12px;">Phone: +1 (123) 456-7890</span></a>
              </center>
          </div>
          
        </nav>
          <nav class="navbar navbar-expand-md navbar-dark bg-white ">
            <div class="container-fluid mt-1 ">
              <a href="{% url 'index' %}"><img class="img-fluid" style="width: 50px;margin-left: 20px;" src="{% static 'coc-logo.png' %}" alt=""></a>
        
              <div style="background-image: url('');" class=" m-0 text-white">
                <button class="btn btn-secondary mt-3 m-3 " type="button" data-bs-toggle="offcanvas" data-bs-target="#carousel">
                  <i class="fa-solid fa-bars fa-fade"></i>
                </button>
              </div>
            </div>
          </nav>
          <div style="background-color: skyblue;" class="card-group p-3">
            <!--div1-->
            <div class="card m-2">
                <a style="text-decoration: none;" href="">
                <center>
                    <img src=".." class="card-img-top" alt="..."height="265px">
                </center>
                <center>
                    <div class="card-body">
                        <h5 class="card-title">
                        </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est vero sed laboriosam distinctio natus expedita aperiam deleniti tempore repudiandae maiores fugit odio exercitationem dolor officiis itaque, iusto numquam. Aliquid, voluptate.
                            </p>
                        <p class="card-text"><small class="text-muted">
                        </small></p>
                      </div>
                </center>
                 </a>
            </div>
            <!--div2-->
            <div class="card m-2">
                <a style="text-decoration: none;" href="">
                <center>
                    <img src=".." class="card-img-top" alt="..." height="265px">
                </center>
                <center>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia atque voluptatibus quidem voluptate autem ducimus. Sequi, provident nostrum deleniti aspernatur quasi maxime. Molestiae non nisi, adipisci officia ducimus porro unde?
                            
                            
                            </p>
                        <p class="card-text"><small class="text-muted">
                        </small></p>
                      </div>
                </center>
                </a>
            </div>
            <!--div3-->
            <div class="card m-2">
                <a style="text-decoration: none;" href="">
                <center>
                    <img src=".." class="card-img-top" alt="...">
                </center>
                <center>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, aspernatur itaque totam, amet tempore architecto eaque beatae sequi delectus, facilis consectetur dolorem fugit. Quos a ut quis suscipit ea non. </p>
                        <p class="card-text"><small class="text-muted"></small></p>
                      </div>
                </center>
                 </a>
                 </div>
             </div>
    
    
             <!--div2-->
    
             <div style="background-color: skyblue;" class="card-group p-3">
                <!--div1-->
                <div class="card m-2">
                    <a style="text-decoration: none;" href="">
                    <center>
                        <img src=".." class="card-img-top" alt="..." height="265px">
                    </center>
                    <center>
                        <div class="card-body">
                            <h5 class="card-title">
                            </h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et alias, nam, perferendis repellendus incidunt reprehenderit corporis excepturi cumque aliquam non saepe eveniet quia quaerat ab amet provident officiis harum voluptatem?
                                </p>
                            <p class="card-text"><small class="text-muted"></small></p>
                          </div>
                    </center>
                     </a>
                </div>
                <!--div2-->
                <div class="card m-2">
                    <a style="text-decoration: none;" href="">
                    <center>
                        <img src=".." class="card-img-top" alt="..." height="265px">
                    </center>
                    <center>
                        <div class="card-body">
                            <h5 class="card-title">
                            </h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi porro ducimus exercitationem consequuntur, ad maxime mollitia animi cum ullam fuga repellat autem eos fugiat fugit repellendus id possimus expedita.
                            </p>
                            <p class="card-text"><small class="text-muted"></small></p>
                          </div>
                    </center>
                    </a>
                </div>
                <!--div3-->
                <div class="card m-2">
                    <a style="text-decoration: none;" href="">
                    <center>
                        <img src=".." class="card-img-top" alt="..." height="265">
                    </center>
                    <center>
                        <div class="card-body">
                            <h5 class="card-title">
                            </h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cumque alias voluptates esse nihil tempora dolor repudiandae eligendi minima numquam eveniet magni reiciendis repellat, harum officia debitis corporis rem facere?.
                             
                             </p>
                            <p class="card-text"><small class="text-muted"></small></p>
                          </div>
                    </center>
                     </a>
                     </div>
                 </div>
        
                          <!--pagination-->
             <nav class="container-fluid" aria-label="...">
              <ul class="pagination p-2 ">
                <li class="page-item">
                 <a class="page-link" href="{% url 'teaching4' %}">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>

       <!-- Footer Section -->
       <footer class="footer p-5">
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h4>Contact Us</h4>
                <p><i class="fas fa-map-marker-alt"></i> 9,IGBEHINADUN STREET, OFF ODOZI,OJODU</p>
                <p><i class="fas fa-phone"></i> Phone: +1 (123) 456-7890</p>
                <p><i class="fas fa-envelope"></i> Email: churchofchristojodu <br> @gmail.com</p>
            </div>
                <div class="col-md-4">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled text-decoration-none">
                        <li><a style="color: black;" class="text-decoration-none" href="{% url 'index' %}">Home</a></li>
                        <br>
                        <li><a style="color: black;" class="text-decoration-none" href="{% url 'about' %}">About Us</a></li>
                        <br>
                        <li><a style="color: black;" class="text-decoration-none" href="{% url 'feedback' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Connect With Us</h4>
                    <p>Stay updated with our latest news and updates:</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=61553202030922"><i style="font-size: xx-large;" class="fab fa-facebook"></i></a>
                        <a href="https://instagram.com/ojoduchurchofchrist?igshid=OGY3MTU3OGY1Mw=="><i style="font-size: xx-large;color: red;" class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/@Church-of-christ-ojodu"><i style="font-size: xx-large;color: red;" class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
      </footer>
      <!-- End Footer Section -->
</body>
</html>